<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="./main.css">
    
    <title>Welcome</title>
  </head>
  <body>
    
    <ul>
      <li ><img src="./images/logo.jpg"></li>
      <li><a href="main">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    <h1>Welcome to Grans Webbsite!</h1>
    <h2>This is my Project webbsite in Webb Development Fundamentals</h2>
    
    {{{body}}}
  </body>
</html>