<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="./main.css">
    
    <title>Welcome</title>
  </head>
  <body>
    <div class="about-container">
    <h1 class="bout">About</h1>
    <h2>Hello my name is Erik Granlund. I am a second year student at Jönköping Technical University (JTH) and i'm studying Mjukvaruutveckling och mobila plattformar. 
I am 20 years old and I am originally from Årjäng in Värmland. </h2>
    </div>
    
    {{{body}}}
  </body>
</html>