<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./about.css">
  <title>About</title>
</head>

<body>
  <h1 class="bout">About me</h1>
  <div class="about-container">
    <img class="rounded-circle " src="Photoshoot fixed.jpg" alt="Picture of me">
    <h2 class="">Hello my name is Erik Granlund. I am a second year student at Jönköping Technical University (JTH) and
      i'm studying Mjukvaruutveckling och mobila plattformar. I am 20 years old and I am originally from Årjäng in Värmland.
    </h2>
  </div>
</body>