
{{#if isLoggedIn}}
<div class="row">
    <div id="portfolio" class="jumbotron mr-3">
        <h1>Portfolio</h1>
        <p>Edit or Delete post in portfolio here</p>
        <a href="/adminpage/manageportfolio" class="btn btn-secondary">Manage Projects</a>
        
    </div>

    <div id="blog" class="jumbotron mr-3">
        <h1>Blog</h1>
        <p>Edit or Delete blogpost here</p>
        <a href="/adminpage/manageblog" class="btn btn-secondary">Manage blog</a>
        
    </div>

    <div id="guestbook" class="jumbotron ">
        <h1>Guestbook</h1>
        <p>Delete guest post here</p>
         <a href="/adminpage/manageguestbook" class="btn btn-secondary">Delete</a>
    </div>
</div>
{{else}}
<p>Must be logged in to acess this!</p>
{{/if}}

<!--guestbook/delete/{{postId}}-->