<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="./main.css">
    
    <title>Welcome</title>
  </head>
  <body>
    <h1>Contact</h1>
   
    {{{body}}}
  </body>
</html>