<head>
  <link rel="stylesheet" type="text/css" href="contact.css">
</head>
<h1>Contact me</h1>
<div class="container">
  <div>
    <img id="logo" src="jkpgkamp-9.jpg" class="rounded-circle" width="345">
    <h3>Erik Granlund</h3>
  </div>
  <div class="row">
    <a href="mailto:kireerik2008@hotmail.com" id="contact-link">
      <img src="email-icon.png" id="email-img">
      <h2> kireerik2008@hotmail.com</h2>
    </a>
  </div>
  <div class="row">
    <a href="tel:+46723986709" id="contact-link">
      <img src="phone-icon.png" id="phone-img">
      <h2> 072-3986709</h2>
    </a>
  </div>
  <div class="row">
    <a href="https://twitter.com/Kireerik13" id="contact-link" target="_blank">
      <img src="twitter-icon.png" id="twitter-img">
      <h2> kireerik13 </h2>
    </a>
  </div>
  <div class="row">
    <a href="https://www.instagram.com/erikgran_/?hl=sv" id="contact-link" target="_blank">
      <img src="instagram-icon.png" id="instagram-img">
      <h2> erikgran_ </h2>
    </a>
  </div>
</div>