<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="./main.css">
    <script src="https://kit.fontawesome.com/ba88a41b0d.js"></script>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Contact me</h1>
    
    <ul class="portfolioUL">
      <li>kireerik2008@hotmail.com</li>
      <br>
      <li>072-3986709 </li>
    </ul>
    <img src="jkpgkamp-9.jpg" width="460">
   
    {{{body}}}
  </body>
</html>