<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="./main.css">
    <script src="https://kit.fontawesome.com/ba88a41b0d.js"></script>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Contact</h1>
    <img src="./layouts/images/jkpgkamp-9.jpg" width="460">
    <ul class="portfolioUL">
      <li> Name: Erik Granlund</li>
      <li><i class="fas fa-envelope"></i> <br> kireerik2008@hotmail.com</li>
      <li><i class="fas fa-map-marker-alt"></i> <br> Kärrhöksgatan 82 lgh 1004 </li>
      <li><i class="fas fa-phone"></i> <br> 072-3986709 </li>
    </ul>
    
   
    {{{body}}}
  </body>
</html>