<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./contact.css">
  <script src="https://kit.fontawesome.com/ba88a41b0d.js"></script>
  
  <title>Contact</title>
</head>

<body>
  <h1>Contact me</h1>
  {{{body}}}
    
    <h2 id="email"><a href="mailto:kireerik2008@hotmail.com"> <img id="email-img" src="email-icon.png"> Kireerik2008@hotmail.com </a></h2>  
    <h2 id="cellphone"><a href="tel: +46723986709"> <img id="phone-img" src="phone-icon.png"> 072-3986709</a></h2>
    <h2 id="twitter"><a href="https://twitter.com/Kireerik13"><img id="twitter-img" src="twitter-icon.png"> kireerik13</a> </h2>
    <h2 id="instagram"> <a href="https://www.instagram.com/erikgran_/?hl=sv"> <img id="instagram-img" src="instagram-icon.png" alt=""> erikgran_</a></h2>

  <img id="logo" src="jkpgkamp.jpg" width="345">
  <h3>Erik Granlund</h3>
</body>

</html>