<h2>Create post</h2>

<form>
    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleFormControlInput1">Post Title</label>
            <input class="form-control" id="exampleFormControltitle1" placeholder="Write title here...">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Comment</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>