<head>
    <link rel="stylesheet" type="text/css" href="./guestbook.css">
</head>

<h1>Guestbook</h1>
<a href="/guestbook/create" class="btn btn-primary">Write guestpost</a>
    {{#if somethingWentWrong}}
        <p>Internal server error</p>
    {{/if}}
    {{#if guestbook.length}}
        {{#each guestbook}}
            <div class="container jumbotron">
                <h2>{{guestName}}</h2>
                <h4>{{guestSubject}}</h4>
                <p class="lead">{{guestContent}}</p>
                <hr class="my-4">
            </div>
        {{/each}}
    {{else}}
        <p>No guestbook posts</p>
    {{/if}}

