<head>
    <link rel="stylesheet" type="text/css" href="./guestbook.css">
</head>

{{#if somethingWentWrong}}
    <p>Internal server error</p>
{{/if}}
{{#if guestbook.length}}
    {{#each guestbook}}
        <h2>{{guestName}}</h2>
        <h4>{{guestSubject}}</h4>
        <p>{{guestComment}}</p>
    {{/each}}
{{else}}
    <p>No guestbook posts</p>
{{/if}}