<head>
    <link rel="stylesheet" type="text/css" href="./guestbook.css">
</head>

<form action="" class="container">
    <div class="">
        <div class="form-group">
            <label for="exampleFormControlInput1">Post Title</label>
            <input class="form-control" id="exampleFormControltitle" placeholder="Write Your name here...">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Subject</label>
            <input class="form-control" id="exampleFormControlSubject" placeholder="Write subject here...">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Comment</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>