<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="./home.css">
    
    <title>Home</title>
  </head>
  <body>
    <div class="text">
    <h1 id="Welcome">Welcome</h1>
    <h2>My name is Erik and i am a software development student at Jönköping University</h2>
    </div>
    {{{body}}}
  </body>
</html>


      