<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="./main.css">
   <script src="https://kit.fontawesome.com/ba88a41b0d.js"></script>
    
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to Grans Webbsite!</h1>
    <h2>This is my Project webbsite in Webb Development Fundamentals</h2>
    
    
    {{{body}}}
  </body>
</html>