<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="./home.css">
   <script srhowc="https://kit.fontawesome.com/ba88a41b0d.js"></script>
    
    <title>Welcome</title>
  </head>
  <body>
    <div class="text">
    <h1>Welcome to Grans website!</h1>
    <h2>This is my website in webb development fundamentals</h2>
    </div>
    {{{body}}}
  </body>
</html>


      