<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="./login.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <a>Welcome</a>
    </div>

    <!-- Login Form -->
    <form action="/login" method="POST">
      <input type="username" id="username" class="fadeIn second" name="username" >
      <input type="password" id="password" class="fadeIn third" name="password" >
      <input type="submit" class="fadeIn fourth" value="Login">
    </form>
  </div>
</div>
</body>
</html>