<div class="md-col-6 jumbotron">
    <div class="title">
        <h1>{{projects.projectName}}</h1>
    </div>
    <div class="comment">
        <p><a href="{{projects.projectLink}}"></a>Link To Project</p>
    </div>
    <a href="/portfolio" class="btn btn-primary">Return</a>
</div>  