<div class="md-col-6 jumbotron">
    <div class="title">
        <h1>{{blogPost.postTitle}}</h1>
    </div>
    <div class="comment">
        <p>{{blogPost.postComment}}</p>
    </div>
    <div class="date">
        <p>posted on {{blogPost.blogDate}} by <a href="/contact">Gran</a></p>
    </div>
    <a href="/blog" class="btn btn-primary">Return</a>
</div>  