<head>
    <title>Resumé</title>
    <link rel="stylesheet" type="text/css" href="./resume.css">
</header>

<h1 class="text-center">Who Am I?</h1>

<div class="container">
    <div class="row row-cols-4">
        <div class="col">
            <img src="Photoshoot fixed.jpg" class="rounded-circle" width="100%" alt="My Headshot">
        </div>
        <div class="col">
            <p id="title">Back-End Developer</p>
            <h2 id="name">Erik Granlund</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div>
        <h1 id="Studies">What I do</h1>
    </div>
    <div id="whatIDo">
        <div class="row">
           <div class="col">
                <h2>Back-end development </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

           </div>
            <div class="col">
                <h2 >Webdevelopment</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
    
    <div id="hejsan" class="col">
        <h1 id="WhatIDo">Workplaces </h1>
    </div>

    <div class="row">
        <div class="col">
            <h2>Intern</h2>
            <h4>Cybercom Group</h4>
            <p>MAY 2020 - JULY 2020</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>   
        </div>
        <div class="col">
            <h2>Intern</h2>
            <h4>Cybercom Group</h4>
            <p>MAY 2020 - JULY 2020</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div id="hejsan" class="col">
        <h1 id="Studies">Studies</h1>
    </div>
    <div class="row">
        <div class="col">
            <h2>Högskola</h2>
            <h4>Jönköping University</h4>
            <p>AUGUST 2018 - MAY 2022</p>
            <p>Softwaredeveopment and mobile platforms. </p>   
        </div>
        <div class="col">
            <h2>Gymnasium</h2>
            <h4>Klara Gymnasium Karlstad</h4>
            <p>AUGUST 2015 - JUNE 2018</p>
            <p>Information and media technology, focus on game development</p>
        </div>
    </div>
        
    <div id="Knowledge">
        <div>
            <h1 id="Studies">Knowledge</h1>
        </div>
        <div class="row">
            <p class="col">HTML</p>
            <p class="col">CSS</p>
            <p class="col">JavaScript</p>
            <p class="col">Node.js</p>
            <p class="col">SQL</p>
            <p class="col">C#</p>
            <p class="col">C++</p>
            <p class="col">.Net/asp.net</p>
            <p class="col">Swift</p>
            <p class="col">Python</p>
        </div>
    </div>
    
</div>
