#logo{
    border-radius: 50%;
    padding-left: 30px;
}

h3{
    position: relative;
    left: 80px;
}

#contact-link{
    color: #000000;
    text-decoration: none;
}



h1{
    text-align: center;
}

#twitter-img{
    width: 2em;
    
}
#instagram-img{
    width: 1.3em;
}

#phone-img{
    width: 1.4em;
}
#email-img{
    width: 1.3em;
}