h1{
    font-size: 0.7in;
    color: white;
   
}

h2{
    color: white;
}

body{
    background-image: url(./background-image.png);
    background-size: 100%; 
    background-repeat: no-repeat;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#main-footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:  black;
}