* {
  margin: 0; 
  padding: 0;
}

h1{
    font-size: 0.7in;
    text-align: center;
    color: black;
}

h2{
    text-align: center;
    color: black;
}

ul{
    text-align: center;

}

#about-container{
    text-align: left;
}